<h2>Validaciones Reactivas: Registro</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off"
              [formGroup]="miFormulario"
              (ngSubmit)="submitFormulario()">
            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input  type="text"
                            class="form-control"
                            placeholder="Nombre del Usuario"
                            formControlName="nombre">

                    <span class="form-text text-danger"
                          *ngIf="campoValido('nombre')">
                        Debe de ser en formato de Nombre y Apellido
                    </span>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input  type="email"
                            class="form-control"
                            placeholder="Email del Usuario">
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input  type="text"
                            class="form-control"
                            placeholder="Username del Usuario">
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input  type="password"
                            class="form-control"
                            placeholder="Contraseña del Usuario">
                </div>
            </div>

            <!-- Password - Confirmar -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar</label>
                <div class="col-sm-9">
                    <input  type="password"
                            class="form-control"
                            placeholder="Confirmar contraseña">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-outline-success float-end"
                            type="submit">
                        Crear Usuario
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span>Form Valid</span>
        <pre>{{ miFormulario.valid | json }}</pre>

        <span>Form Touched</span>
        <pre>{{ miFormulario.touched | json }}</pre>

        <span>Form Value</span>
        <pre>{{ miFormulario.value | json }}</pre>

        <span>Nombre</span>
        <pre>{{ miFormulario.controls.nombre.errors| json }}</pre>
    </div>
</div>