<h2>Validaciones Reactivas: Registro</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off"
              [formGroup]="miFormulario"
              (ngSubmit)="submitFormulario()">
            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input  type="text"
                            class="form-control"
                            placeholder="Nombre del Usuario"
                            formControlName="nombre">

                    <span class="form-text text-danger"
                          *ngIf="campoValido('nombre')">
                        Debe de ser en formato de Nombre y Apellido
                    </span>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input  type="email"
                            class="form-control"
                            formControlName="email"
                            placeholder="Email del Usuario">
                            
                    <span class="form-text text-danger"
                          *ngIf="campoValido('email')">
                        El correo es obligatorio
                    </span>
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input  type="text"
                            class="form-control"
                            placeholder="Username del Usuario"
                            formControlName="username">

                    <span class="form-text text-danger"
                          *ngIf="campoValido('username')">
                        El username no puede ser fersa
                    </span>
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input  type="password"
                            class="form-control"
                            placeholder="Contraseña del Usuario"
                            formControlName="password">

                    <span class="form-text text-danger"
                          *ngIf="campoValido('password')">
                        La contraseña debe tener 8 caracteres.
                    </span>
                </div>
            </div>

            <!-- Password - Confirmar -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar</label>
                <div class="col-sm-9">
                    <input  type="password"
                            class="form-control"
                            placeholder="Confirmar contraseña"
                            formControlName="password2">

                    <span class="form-text text-danger"
                          *ngIf="campoValido('password2')">
                        Las contraseñas deben ser iguales
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-outline-success float-end"
                            type="submit">
                        Crear Usuario
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span>Nombre</span>
        <pre>{{ miFormulario.controls.nombre.errors| json }}</pre>

        <span>Email</span>
        <pre>{{ miFormulario.controls.email.errors| json }}</pre>

        <span>Username</span>
        <pre>{{ miFormulario.controls.username.errors| json }}</pre>

        <span>Password</span>
        <pre>{{ miFormulario.controls.password.errors| json }}</pre>

        <span>Confirmar</span>
        <pre>{{ miFormulario.controls.password2.errors| json }}</pre>

        <span>Form Errors</span>
        <pre>{{ miFormulario.errors | json }}</pre>

        <span>Form Touched</span>
        <pre>{{ miFormulario.touched | json }}</pre>

        <span>Form Value</span>
        <pre>{{ miFormulario.value | json }}</pre>
    </div>
</div>